body { 
	padding-top: 70px; 
	padding-bottom: 90px;
	background-color: #FAFFFE;
}

.navbar {
	background-color: #1ABC9C;
	min-height: 50px;
}

#jlab {
	font-family: 'Ubuntu Condensed', sans-serif;
	color: black;
	font-size: 30px;
	display: inline;
}

a {
	font-family: 'Ubuntu Condensed', sans-serif;
	text-decoration: none;
	color: black;
}

.link {
	line-height: 50px;
}

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: rgb(245, 245, 245);
}

.fa {
	padding-right: 5px;
}

.text {
	padding-right: 15px;
}

ul {
	list-style: none;
}

.citation {
	color: #5B626E;
	font-size: 16px;
}

.list i {
	color: rgb(42, 100, 150);
}

.list i:hover {
	border-color: #5B626E;
}

.specs {
	padding-left: 10px;
}

.small-nav {
	width: 100%;
}

.small-nav a {
	height: 60px;
}

.small-nav i {
	margin-top: 11px;
}

.small-nav span {
	position: static;
	margin-top: 20px;
}

.small-nav > .btn-group {
	position: relative;
	width: 100%;
}

#9a1b60e209bb088440a1 {
	overflow: auto;
}

#b8bb6bd4c9478ee3ff7f {
	overflow: auto;
}

#6ed8ae1d57d8d10ad1f2 {
	overflow: auto;
}
