.btn {border-radius: 0;}
.navbar {
	background-color: #C73535;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.navbar-brand {
	color: #071E26 !important;
}
a:focus {
	background-color: rgb(238, 238, 238) !important;
}

a:hover {
	background-color: rgb(238, 238, 238) !important;
}

a:ac;